<table *ngIf="exchangeRates" class="exchange-rates">
  <caption>
    Exchange Rates
  </caption>
  <thead>
    <tr>
      <th *ngFor="let er of exchangeRates.data.exchangeRate | keyvalue">
        <span *ngIf="er.key !== '__typename'"> {{ er.key | uppercase }}</span>
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5">&nbsp;</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td *ngFor="let er of exchangeRates.data.exchangeRate | keyvalue">
        <span *ngIf="er.key !== '__typename'">
          <span *ngFor="let c of er.value | keyvalue">
            <span *ngIf="c.key !== '__typename'">${{ c.value }}</span>
          </span>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<table *ngIf="cheapestPlots" class="cheapest-plots">
  <caption>
    <p>Cheapest Land Plots</p>
    <div>
      <label for="apr">APR %</label>
      <input
        id="apr"
        #inputApr
        (keyup)="onAprKeyUp(inputApr.value)"
        placeholder="APR %"
        type="number"
        step="0.01"
        [(ngModel)]="apr"
      />
    </div>
  </caption>
  <thead>
    <tr>
      <th *ngFor="let cp of cheapestPlots">
        <span *ngIf="cp.data.lands.results.length">{{
          cp.data.lands.results[0].landType
        }}</span>
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5">&nbsp;</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td *ngFor="let cp of cheapestPlots">
        <p>
          <strong>Marketplace</strong>
        </p>
        <ul *ngIf="cp.data.lands.results.length">
          <li>
            Ξ
            {{
              +cp.data.lands.results[0].auction.currentPrice / 1e18
                | number: "0.0"
            }}
            ({{
              cp.data.lands.results[0].auction.currentPriceUSD
                | currency: "USD"
            }})
          </li>
          <li>
            <a
              href="https://marketplace.axieinfinity.com/land/{{
                cp.data.lands.results[0].col
              }}/{{ cp.data.lands.results[0].row }}"
              target="_blank"
              >Plot &nearhk;</a
            >
            by
            <a
              href="https://marketplace.axieinfinity.com/profile/{{
                hex2ronin(cp.data.lands.results[0].owner)
              }}/item"
              target="_blank"
              >{{
                getName(cp.data.lands.results[0].ownerProfile.name)
              }}
              &nearhk;</a
            >
            from
            <a
              href="https://marketplace.axieinfinity.com/land/?type={{
                cp.data.lands.results[0].landType | titlecase
              }}"
              target="_blank"
              >MP &nearhk;</a
            >
          </li>
        </ul>
        <p>
          <strong>AXS Rewards</strong>
        </p>
        <dl>
          <dt>Daily</dt>
          <dd>
            {{ stakingRewards[cp.data.lands.results[0].landType | lowercase] }}
            ({{
              stakingRewards[cp.data.lands.results[0].landType | lowercase] *
                exchangeRates.data.exchangeRate.axs.usd | currency: "USD"
            }})
          </dd>
          <dt>Annual (Cmpd.)</dt>
          <dd>
            {{
              getCompoundingReward(
                0,
                stakingRewards[cp.data.lands.results[0].landType | lowercase]
              ) | number: "0.4-4"
            }}
            ({{
              getCompoundingReward(
                0,
                stakingRewards[cp.data.lands.results[0].landType | lowercase]
              ) * exchangeRates.data.exchangeRate.axs.usd | currency: "USD"
            }})
          </dd>
        </dl>
        <p>
          <strong> Plot vs. ROI </strong>
        </p>
        <dl>
          <dt>Price in AXS</dt>
          <dd>
            {{
              +cp.data.lands.results[0].auction.currentPriceUSD /
                exchangeRates.data.exchangeRate.axs.usd | number: "0.4-4"
            }}
            ({{
              getCompoundingReward(
                0,
                stakingRewards[cp.data.lands.results[0].landType | lowercase]
              ) * exchangeRates.data.exchangeRate.axs.usd | currency: "USD"
            }})
          </dd>
          <dt>Gain in Staking</dt>
          <dd>
            {{
              getCompoundingReward(
                0,
                stakingRewards[cp.data.lands.results[0].landType | lowercase]
              ) -
                +cp.data.lands.results[0].auction.currentPriceUSD /
                  exchangeRates.data.exchangeRate.axs.usd | number: "0.4-4"
            }}
            ({{
              (getCompoundingReward(
                0,
                stakingRewards[cp.data.lands.results[0].landType | lowercase]
              ) -
                +cp.data.lands.results[0].auction.currentPriceUSD /
                  exchangeRates.data.exchangeRate.axs.usd) *
                exchangeRates.data.exchangeRate.axs.usd | currency: "USD"
            }})
          </dd>
          <dt>Total in AXS</dt>
          <dd>
            {{
              getCompoundingReward(
                0,
                stakingRewards[cp.data.lands.results[0].landType | lowercase]
              ) +
                +cp.data.lands.results[0].auction.currentPriceUSD /
                  exchangeRates.data.exchangeRate.axs.usd | number: "0.4-4"
            }}
            ({{
              (getCompoundingReward(
                0,
                stakingRewards[cp.data.lands.results[0].landType | lowercase]
              ) +
                +cp.data.lands.results[0].auction.currentPriceUSD /
                  exchangeRates.data.exchangeRate.axs.usd) *
                exchangeRates.data.exchangeRate.axs.usd | currency: "USD"
            }})
          </dd>
          <dt>vs. AXS Staking</dt>
          <dd>
            {{
              getCompoundingReward(
                0,
                stakingRewards[cp.data.lands.results[0].landType | lowercase]
              ) +
                +cp.data.lands.results[0].auction.currentPriceUSD /
                  exchangeRates.data.exchangeRate.axs.usd -
                getCompoundingReward(
                  +cp.data.lands.results[0].auction.currentPriceUSD /
                    exchangeRates.data.exchangeRate.axs.usd,
                  0
                ) | number: "0.4-4"
            }}
            ({{
              (getCompoundingReward(
                0,
                stakingRewards[cp.data.lands.results[0].landType | lowercase]
              ) +
                +cp.data.lands.results[0].auction.currentPriceUSD /
                  exchangeRates.data.exchangeRate.axs.usd -
                getCompoundingReward(
                  +cp.data.lands.results[0].auction.currentPriceUSD /
                    exchangeRates.data.exchangeRate.axs.usd,
                  0
                )) *
                exchangeRates.data.exchangeRate.axs.usd | currency: "USD"
            }})
          </dd>
          <p>
            <strong> vs. AXS Staking </strong>
          </p>
          <dl>
            <dt>Daily</dt>
            <dd>
              {{
                getDailyReward(
                  +cp.data.lands.results[0].auction.currentPriceUSD /
                    exchangeRates.data.exchangeRate.axs.usd
                ) | number: "0.4-4"
              }}
              ({{
                getDailyReward(
                  +cp.data.lands.results[0].auction.currentPriceUSD /
                    exchangeRates.data.exchangeRate.axs.usd
                ) * exchangeRates.data.exchangeRate.axs.usd | currency: "USD"
              }})
            </dd>
            <dt>Annual (Cmpd.)</dt>
            <dd>
              {{
                getCompoundingReward(
                  +cp.data.lands.results[0].auction.currentPriceUSD /
                    exchangeRates.data.exchangeRate.axs.usd,
                  0
                ) | number: "0.4-4"
              }}
              ({{
                getCompoundingReward(
                  +cp.data.lands.results[0].auction.currentPriceUSD /
                    exchangeRates.data.exchangeRate.axs.usd,
                  0
                ) * exchangeRates.data.exchangeRate.axs.usd | currency: "USD"
              }})
            </dd>
            <dt>vs. Land Staking</dt>
            <dd>
              {{
                getCompoundingReward(
                  +cp.data.lands.results[0].auction.currentPriceUSD /
                    exchangeRates.data.exchangeRate.axs.usd,
                  0
                ) -
                  (getCompoundingReward(
                    0,
                    stakingRewards[
                      cp.data.lands.results[0].landType | lowercase
                    ]
                  ) +
                    +cp.data.lands.results[0].auction.currentPriceUSD /
                      exchangeRates.data.exchangeRate.axs.usd) | number: "0.4-4"
              }}
              ({{
                (getCompoundingReward(
                  +cp.data.lands.results[0].auction.currentPriceUSD /
                    exchangeRates.data.exchangeRate.axs.usd,
                  0
                ) -
                  (getCompoundingReward(
                    0,
                    stakingRewards[
                      cp.data.lands.results[0].landType | lowercase
                    ]
                  ) +
                    +cp.data.lands.results[0].auction.currentPriceUSD /
                      exchangeRates.data.exchangeRate.axs.usd)) *
                  exchangeRates.data.exchangeRate.axs.usd | currency: "USD"
              }})
            </dd>
          </dl>
        </dl>
      </td>
    </tr>
  </tbody>
</table>

<table *ngIf="cheapestItems" class="cheapest-items">
  <caption>
    <p>Cheapest Land Items</p>
    <p>
      <strong>Total: </strong>
      {{ totalItemsPrice["eth"] / 1e18 | number: "0.4-4" }}
      ({{ totalItemsPrice["usd"] | currency: "USD" }})
    </p>
  </caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Price</th>
      <th>Effects</th>
      <th>Description</th>
      <th>Environment</th>
      <th>Rarity</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
  </tfoot>
  <tbody>
    <tr *ngFor="let landItem of cheapestItems">
      <td>
        <div class="wrapper">
          <img
            src="{{ landItem.data.item.figureURL }}"
            alt=""
            width="32"
            height="32"
          />
          <a
            href="https://marketplace.axieinfinity.com/item/{{
              landItem.data.item.itemAlias
            }}/{{ landItem.data.item.itemId }}/"
            target="_blank"
            >{{ landItem.data.item.name }}</a
          >
          <a
            href="https://marketplace.axieinfinity.com/item/?page=1&type={{
              landItem.data.item.landType
            }}&rarity={{ landItem.data.item.rarity }}&itemAlias={{
              landItem.data.item.itemAlias
            }}"
            target="_blank"
            >MP &nearhk;</a
          >
        </div>
      </td>
      <td>{{ landItem.data.item.itemAlias }}</td>
      <td>
        <dl>
          <dt>Current Price</dt>
          <dd>
            Ξ
            {{
              +landItem.data.item.auction.currentPrice / 1e18 | number: "0.4-4"
            }}
            ({{ landItem.data.item.auction.currentPriceUSD | currency: "USD" }})
          </dd>
          <dt
            *ngIf="
              +landItem.data.item.auction.endingTimestamp > currentTimestamp &&
              +landItem.data.item.auction.currentPrice !==
                +landItem.data.item.auction.endingPrice
            "
          >
            Last Price
          </dt>
          <dd
            *ngIf="
              +landItem.data.item.auction.endingTimestamp > currentTimestamp &&
              +landItem.data.item.auction.currentPrice !==
                +landItem.data.item.auction.endingPrice
            "
          >
            Ξ
            {{
              +landItem.data.item.auction.endingPrice / 1e18 | number: "0.4-4"
            }}
            @
            {{ readableDate(+landItem.data.item.auction.endingTimestamp) }}
          </dd>
          <dt>Seller</dt>
          <dd>
            <a
              href="https://marketplace.axieinfinity.com/profile/{{
                hex2ronin(landItem.data.item.owner)
              }}/item"
              target="_blank"
              >{{ getName(landItem.data.item.ownerProfile.name) }}</a
            >
          </dd>
        </dl>
      </td>
      <td>{{ landItem.data.item.effects }}</td>
      <td>{{ landItem.data.item.description }}</td>
      <td>{{ landItem.data.item.landType }}</td>
      <td>{{ landItem.data.item.rarity }}</td>
    </tr>
  </tbody>
</table>
