table,
caption,
tr,
th,
td {
  border: solid 1px;
  border-collapse: collapse;
}

caption {
  border-bottom: 0;
}

caption,
th,
td {
  padding: 0.5rem;
}

tfoot {
  display: none;
}

/* Exchange Rates */
.exchange-rates th:first-child,
.exchange-rates td:first-child {
  display: none;
}

.exchange-rates td {
  text-align: right;
}

/* Cheapest Plots */
.cheapest-plots {
  margin-top: 0.75rem;
}

.cheapest-plots ul {
  list-style: none;
  padding: 0;
  text-align: right;
}
