table,
caption,
tr,
th,
td {
  border: solid 1px;
  border-collapse: collapse;
}

caption {
  border-bottom: 0;
}

caption,
th,
td {
  padding: 0.5rem;
}

tfoot {
  display: none;
}

/* Exchange Rates */
.exchange-rates th:first-child,
.exchange-rates td:first-child {
  display: none;
}

.exchange-rates td {
  text-align: right;
}

/* Daily AXS Reward */
.daily-axs-reward ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}
.daily-axs-reward p {
  margin-bottom: 0.25rem;
}

.daily-axs-reward li {
  padding: 0.25rem 0;
}

.daily-axs-reward label {
  display: inline-block;
  width: 3.5rem;
}

/* Cheapest Plots */
.cheapest-plots {
  margin-top: 0.75rem;
}

.cheapest-plots ul {
  list-style: none;
  padding: 0;
  text-align: right;
}

/* Cheapest Items */
.cheapest-items {
  margin-top: 0.75rem;
}

.cheapest-items .wrapper {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}
